{% load static from staticfiles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<style>
    .btn:hover {
        background-color: #666;
        color: white;
    }

    .center {
        text-align: center;
    }

    .mt-0 {
        margin-top: 20px !important;
    }

    body {
        background-image: url("/static/background-green.jpg");
    }
</style>