{% load static from staticfiles%}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<style>
    .btn:hover {
        background-color: #666;
        color: white;
    }

    .center {
        text-align: center;
    }

    .mt-0 {
        margin-top: 20px !important;
    }

    .mt-1 {
        margin-bottom: 20px !important;
    }

    body {
        background-image: url("/static/background-green.jpg");
    }

    .block-pattern {
        color: #fff;
        background: #00abcc;
        background: -moz-linear-gradient(-45deg, #82bd41 0%, #00abcc 100%);
        background: -webkit-linear-gradient(-45deg, #82bd41 0%, #00abcc 100%);
        background: linear-gradient(135deg, #82bd41 0%, #00abcc 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#82bd41', endColorstr='#00abcc', GradientType=1);
    }

    .section {
        position: relative;
        height: 70vh;
        min-height: 150px;
        max-height: 150px;
        font-size: 1.1111em;
    }

    .text-black {
        font-weight: 900 !important;
    }

    .page-section {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    @media (min-width: 992px) {
        .intro .intro-img {
            width: 75%;
            float: right;
        }

        .intro .intro-text {
            /*left: 0;*/
            width: 60%;
            margin-top: 3rem;
            position: absolute;
        }

        .intro .intro-text .intro-button {
            width: 100%;
            left: 0;
            position: absolute;
            bottom: -2rem;
        }
    }

    .section-heading {
        text-transform: uppercase;
    }

    .section-heading .section-heading-upper {
        display: block;
        font-size: 1rem;
        font-weight: 800;
    }

    .section-heading .section-heading-lower {
        display: block;
        font-size: 3rem;
        font-weight: 100;
    }

    .bg-faded {
        background-color: rgba(255, 255, 255, 0.85);
    }

    #mainNav {
        background-color: rgba(47, 23, 15, 0.9);
        font-family: 'Raleway';
    }

    #mainNav .navbar-brand {
        color: #e6a756;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        font-weight: 800;
    }

    #mainNav .navbar-nav .nav-item.active .nav-link {
        color: #e6a756;
    }
</style>