<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script>
    $('#id_first_name').addClass('form-control');
    $('#id_last_name').addClass('form-control ');
    $('#id_business_email').addClass('form-control ');
    $('#id_company_name').addClass('form-control ');
    $('#id_job_title').addClass('form-control ');
    $('#id_phone_number').addClass('form-control ');
    $('#id_city').addClass('form-control ');
    $('#id_state').addClass('form-control ');

    $('.carousel').carousel()
</script>

