<div class="container">
    <h1 class="text-center">Welcome to QuMed</h1>
    <div class="navbar navbar-dark bg-light">
        <a href='{% url "home" %}' class="btn nav-link">home</a>
        <a href='{% url "products" %}' class="btn nav-link">products</a>
        <a href='{% url "about" %}' class="btn nav-link">about us</a>
        <a href='{% url "create" %}' class="btn nav-link">contact us</a>
        <a href='{% url "prospects"%}' class="btn nav-link">prospects</a>
    </div>
    <!--<a href="/">home</a>-->
    <!--<a href="/products">products</a>-->
    <!--<a href="/aboutQumed">about us</a>-->
    <!--<a href="/create">contact us</a>-->
    <!--<a href="/prospects">prospects</a>-->
</div>
