{% extends "base.html" %}

{% block head_title %}Meet The Team || {{ block.super}}{% endblock head_title %}

{% block content %}
<!--<h2>About the company, and the people behind the product</h2>-->
<!--{{ block.super}}-->
<!--{% include 'snippets/side_bar.html' %}-->

{% load static from staticfiles%}

<div class="container mt-0">
    <div class="row">
        <div class="col-lg-3 col-md-offset-1">
            <img src="{% static 'mellisa.jpg' %}" alt="dfjdlkjfd">
        </div>
        <div class="col-lg-9 col-md-offset-2">
            <h5>Melissa Winfield</h5>
            <div>
                <p>Product owner - add bio here for melissa</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}