{% extends "base.html" %}

{% block head_title %}Meet The Team || {{ block.super}}{% endblock head_title %}

{% block content %}
<!--<h2>About the company, and the people behind the product</h2>-->
<!--{{ block.super}}-->
<!--{% include 'snippets/side_bar.html' %}-->

{% load static from staticfiles%}

<form>
    <div class="form-row mt-0">
        <div class="col-lg-3">
            <img src="{% static 'mellisa.jpg' %}" alt="dfjdlkjfd">
            <h5>Melissa White</h5>
            <p>Product owner</p>
        </div>
        <div class="col-lg-3">
            <img src="{% static 'malick.jpg' %}" alt="dfjdlkjfd">
            <h5>Malick Djiba</h5>
            <p>lawyer {placeholder}</p>
        </div>
        <div class="col-lg-3">
            <img src="{% static 'tosin.jpg' %}" alt="dfjdlkjfd">
            <h5>Tosin Olu</h5>
            <p>developer</p>
        </div>
        <div class="col-lg-3">
            <img src="{% static 'youssouph.jpg' %}" alt="dfjdlkjfd">
            <h5>Youssouph Djiba</h5>
            <p>developer</p>
        </div>
    </div>

</form>

{% endblock content %}