{% extends "base.html" %}

{% block head_title %}Welcome || {{ block.super}}{% endblock head_title %}

{% block content %}
<h1>Home</h1>

<p>This is {{html_var}} coming through</p>

{{ block.super}}

{% endblock content %}


<!--<p>-->
    <!--{% if num is not None %}-->
    <!--random number is {{ num }}-->
    <!--{% endif%}-->
<!--</p>-->
<!--<p>-->
    <!--{% for some_item in some_list %}-->
        <!--{% if some_item|divisibleby:"2" %}-->
            <!--Even Number-->
        <!--{% else %}-->
            <!--Odd Number-->
        <!--{% endif %}-->
        <!--{{some_item}}</br>-->
    <!--{% endfor%}-->
<!--</p>-->